
<app-navbar></app-navbar>
<br><br>
<div class="container mx-auto p-5 border shadow-lg border-gray-200 ">
    <div id="map"></div>
</div>
<div class="container mx-auto flex justify-center pt-20">
    <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" (click)="toggleNewTaskComponent()">
      Raporteaza o problema
    </button>
  </div>
  <div class="container mx-auto flex justify-center pt-20">
  <app-new-task *ngIf="showNewTaskComponent" [latitude]="latitude" [longitude]="longitude"></app-new-task>
</div>
  <div class="container mx-auto flex justify-center pt-20">

<app-top></app-top>

  </div>




  
