
<form (submit)="onSubmit()">
   
<label for="problems" class="block mb-2 text-sm font-medium text-gray-900">Selecteaza o problema din lista de mai jos</label>
<select  [(ngModel)]="selectedProblem" name="problem" id="problems" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
  <option selected>Problema</option>
  <option value="PanaCurent">Pana Curent</option>
  <option value="CopacCazut">Copac cazut</option>
  <option value="Inundatie">Inundatie</option>
  <option value="Furtuna">Furtuna</option>
  <option value="Cos Gunoi Rasturnat">Cos Gunoi Rasturnat</option>
  <option value="Alerta Urs">Alerta Urs</option>
  <option value="Incendiu">Incendiu</option>
</select>

    
    <div class="flex justify-center pt-4">
      <button type="submit" [disabled]="!notificationService.isConnected" 
      [ngClass]="{'bg-gray-700 hover:bg-gray-800 focus:ring-white-300': notificationService.isConnected, 
                  'bg-gray-400 cursor-not-allowed': !notificationService.isConnected}"
      class="text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">
  Trimite
</button>
    </div>
</form>

